<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코스번호를 선택합시당</title>
</head>

<body>
    <h1>관광코스 기상 정보 안내 서비스</h1>
    <form action="">
        <input type="text" class="form-control" placeholder="관광코스 ID를 입력하세요">
        <br />
        <button>SEND</button>
    </form>
    1~438번까지 있음!
</body>

</html>